<header id="top-header" aria-label="Main header">
  <span class="siteName">
    <a href="/">Dolo Motors</a>
  </span>
  <div id="account">
    <a title="Click to log in" href="/account/login">My Account</a>
  </div>
</header>
