<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Discover the best cars at DoloCar, your trusted dealership.">
    <title><%- title %> | DoloCar</title>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preload" href="/fonts/custom-font.woff2" as="font" type="font/woff2" crossorigin="anonymous">
</head>
