<!-- nav elements -->

<nav aria-label="Primary navigation">
    <div class="hamburger">☰</div>
    <%- nav %> 

</nav> 

<!-- Dropdown menu for the nav element on small screen -->
<script>
    const hamburger = document.querySelector('.hamburger');
    const navMenu = document.querySelector('nav ul');
  
    hamburger.addEventListener('click', () => {
      navMenu.classList.toggle('show');
    });
  </script>
  