<div class="background-image">
    <div class="main-card">
      <div class="welcome-section">
        <h2>Welcome to Dolo Motors!</h2> 
        <p>DMC Delorean</p>
        <p>3 cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice</p>
        <p>
          <a href="#"><img class="own-today-image" src="/images/site/own_today.png" alt="Own Today Image"></a>
          <img class="large-screen-image" src="/images/vehicles/delorean.jpg" alt="Car Image">
          <img class="small-screen-image" src="/images/vehicles/delorean-tn.jpg" alt="Another Car Image">
        </p>
      </div>
      <div class="grid">
        <img class="large-screen-image" src="/images/vehicles/big_grid1.jpg" alt="Car Image">
        <img class="large-screen-image" src="/images/vehicles//big_grid2.jpg" alt="Car Image">
        <img class="large-screen-image" src="/images/vehicles//big_grid3.jpg" alt="Car Image">
        <img class="small-screen-image" src="/images/vehicles/small_grid1.jpg" alt="small Car Image">
        <img class="small-screen-image" src="/images/vehicles/small_grid2.jpg" alt="small Car Image">
        <img class="small-screen-image" src="/images/vehicles/small_grid3.jpg" alt="small Car Image">
      </div>
  
      <div class="delorean-upgrade-section">
        <p>Delorean Upgrade<p>
        <p><a href="#"><img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor Icon">Flux capacitor</a></p>
        <p><a href="#"><img src="/images/upgrades/flame.jpg" alt="Flame Decals Icon">Flame Decals</a></p>
        <p><a href="#"><img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers Icon">Bumper Stickers</a></p>
        <p><a href="#"><img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps Icon">Hub caps</a></p>
      </div>
  
      <div class="review-section">
        <h2>DMC Delorean Review</h2>
        <ul>
          <li><p>"So fast it's almost like traveling in time". 4/5</p></li>
          <li><p>"Coolest ride on the road". 4/5</p></li>
          <li><p>"I am feeling McFly". 5/5</p></li>
          <li><p>"The most futuristic ride of our day". 4.5/5</p></li>
          <li><p>"80's livin and I love it"! 5/5</p></li>
        </ul>
      </div>
    </div>
  </div>
  