 /******* Change Box Model ***************/ 
*,
*:before,
*:after {
    box-sizing: border-box;
} 

/* Body background */
body {
    background-image: url('/images/site/small_check.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    margin: 0;
    color: #333;
}

/* Header */
#top-header {  
    background-color: #240046; 
    color: white; 
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#top-header .siteName a {  
    color: white;
    text-decoration: none;
    font-size: 2em; 
}

span { 
    font-size: 16px;
}

#account a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease; 
}

#account a:hover {
    color: #f08080; 
}

h1 {
    text-align: center;
    color: #240046;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

/* Flash message styles */
.notice{
    background-color: rgba(255, 69, 58, 0.8);
    padding: 1rem;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
}
form {
    display: flex;
    flex-direction: column; 
    background:rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.9);
    width: 100%;
    max-width: 400px;
    margin: 40px auto 1rem; 
}

label {
    display: block;
    color: black;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc; 
    border-radius: 5px;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.9);
    transition: border-color 0.3s ease; 
}


input:focus {
    outline: none; 
    border-color: #6D83F2; 
}

button {
    width: 100%;
    padding: 1rem;
    background-color: #240046;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover {
    background-color: #f08080;
}

/* Style for the paragraph containing the register link */
p {
    text-align: center;
    margin-top: 1rem;
}

a {
    color: #0466c8;
    text-decoration: none;
}


/* Footer */
footer {
    text-align: center; 
    padding: 20px; 
    background-color: #333;
    color: #fff; 
    margin-top: 200px; 
}
