/******* Change Box Model ***************/ 
*,
*:before,
*:after {
  box-sizing: border-box;
} 

/* Body background */
body {
  background-image: url('/images/site/small_check.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Arial', sans-serif;
  margin: 0;
}

/* Header */
#top-header {  
  background-color: #240046; 
  color: white; 
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#top-header .siteName a {  
  color: white;
  text-decoration: none;
  font-size: 2em; 
}

span { 
  font-size: 16px;
}

#account a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease; 
}

#account a:hover {
  color: #f08080; 
}

/* Navigation */
nav {
  background-color: #3a0ca3;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
}

nav li {
  margin-bottom: 5px;
}

nav a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease; 
}

nav a:hover {
  color: #f08080;
  transform: scale(1.1); 
}

/* Hide the navigation items by default */
nav ul {
  display: none; 
  padding: 0; 
  margin: 0; 
}

/* Show the navigation items when the 'show' class is added */
nav ul.show {
  display: flex;
  flex-direction: column; 
  margin: 3px; 
}

/* Navigation items */
nav ul li {
  padding: 5px; 
  margin: 5px 0; 
}

/* Hamburger icon */
.hamburger {
  cursor: pointer; 
  color: white; 
  font-size: 24px;
  margin-bottom: 5px; 
}

/* Media query to hide the hamburger on larger screens */
@media (min-width: 769px) {
  .hamburger {
    display: none; 
  }

  nav ul {
    display: flex; 
    flex-direction: row; 
  }
}

/* Main */
.background-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card { 
  position: relative; 
  width: 90%;
  max-width: 1200px; 
  background-color: #f1faee; 
  margin: 20px auto; 
  padding: 20px;
  border-radius: 15px; 
  border: 1px solid #ccc; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); 
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 20px; 
  margin-top: 50px;
}

.grid img {
  width: 100%;
  height: auto; 
  border-radius: 10px;
}

/* Welcome section */
.welcome-section {  
  position: relative;
  background-color: rgba(255, 184, 3, 0.7); 
  margin: 50px 0;
  padding: 20px; 
  border-radius: 10px; 
}

.welcome-section p {
  display: grid;
  font-size: 1.5em; 
  margin-left: 30px;
  margin-bottom: 40px;
}

.welcome-section h2 {
  margin-left: 30px;
}

/* Own Today Image for large screens */
.own-today-image {
  position: absolute; 
  top: 200px; 
  left: 400px; 
  width: 200px; 
  cursor: move; 
  z-index: 10; 
}

.delorean-upgrade-section {
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  float: left;
  gap: 20px; 
  margin-top: 50px; 
}

.delorean-upgrade-section p {
  text-align: center;
  font-size: 1.1em; 
}

.welcome-section h1 {
  margin-bottom: 20px;
}

.delorean-upgrade-section img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
} 

/* Review area */
.review-section {  
  background-color: #f9dbbd; 
  font-size: 1.5em; 
  float: right;
  margin-bottom: 110px;
  transform: translate(-5px, 110px); 
  padding: 20px; 
  border-radius: 10px; 
}

.review-section h2 { 
  font-size: 1.5em; 
  margin-left: 20px;
  margin-bottom: 10px;
}

/* Upgrade area */
.delorean-upgrade-section p { 
  margin-bottom: 10px;
} 

.delorean-upgrade-section p:nth-child(3),
.delorean-upgrade-section p:nth-child(4),
.delorean-upgrade-section p:nth-child(5),
.delorean-upgrade-section p:last-child {
  background-color: #450920;
  color: white; 
  padding: 10px; 
  border-radius: 5px; 
} 

.delorean-upgrade-section p a {
  background-color: white;
  padding: 5px;
  border-radius: 5px; 
}

/* Large and small screen images */
.large-screen-image,
.small-screen-image { 
  position: relative; 
  max-width: 100%;
  border-radius: 10px;
}

/* Footer */
footer {
  text-align: center; 
  padding: 20px; 
  background-color: #333;
  color: #fff; 
  margin-top: 20px; 
} 

/* Larger car image */
@media (max-width: 768px) {
  .large-screen-image {
    display: none; 
  }
} 

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr; 
  }

  .small-screen-image {
    margin-top: 5px; 
  }
}

/* Hide the small car image on larger screens */
@media (min-width: 769px) {
  .small-screen-image {
    display: none; 
  }
}

/* Own-today Media query for small screens */
@media screen and (max-width: 768px) {
  .own-today-image {
    position: absolute; 
    top: 170px; 
    left: 160px; 
    width: 90px; 
  }
}
 
/* Smaller screen background image */
@media (max-width: 768px) {
  body {
    background-image: url('/images/site/small_check.png'); 
  }
}
