<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title> 
  <link rel="stylesheet" type="text/css" href="/css/management.css">
  <link rel="icon" href="/images/favicon.ico"> <!-- Correctly set the favicon link -->
</head>
<body>

<div class="container">
  <h2><%= title %></h2>
  
  <% if (messages.length > 0) { %>
    <div class="alert alert-success">
      <%= messages[0] %>
    </div>
  <% } %>
  
  <a class="button" href="/inv/add-classification">Add New Classification</a>
  <a class="button" href="/inv/add-inventory">Add New Inventory</a>
  

</div>

</body>
</html>
